@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
.background {
    background: url(background.png);
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 11%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.logo img {
    width: 100px;
    position: absolute;
    margin-top: -45px;
    margin-left: 230px;
    border-radius: 10px;
}
ul{
    float: right;
    margin-right: 100px;
    padding-top: 15px;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .5s;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: #ff8800;
    color: white;
    padding: 20px 25px;
    border: none;
    margin-bottom: 10px;
    border-radius: 40px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
footer {
    display: flex;
    height: 11%;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background: linear-gradient(-135deg, #4158d0,#c850c0 );
    position: fixed;
}
footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 45px;
}
footer a {
    background: rgb(255, 166, 0);
    border-radius: 10px;
}
.footer-logo {
    width: 100px;
    position: absolute;
    margin-top: 5px;
    margin-left: -15px;
    border-radius: 10px;
}
.footer-social a {
    margin-top: 35px;
    margin-left: -50px;
    color: white;
    text-decoration: none;
    position: absolute;
    padding: 10px;
}
.text-footer {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: right;
    color: white;
}
.box {
    display: flex;
    background-size: cover;
    justify-content: center;
    padding: 100px;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
}
.firstHalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}
.text-small {
    font-size: 18px;
}
.SignupForm {
    padding: 16px 20px 20px;
    color: white;
    background: linear-gradient(-135deg, #4158d0,#a52a9d );
    opacity: 1;
    border-radius: 20px;
    position: absolute;
    left: 35%;
    width: 30%;
    scale: 90%;
}
.SupportForm {
    padding: 6px 40px 0px 40px;
    color: white;
    background: linear-gradient(-135deg, #4158d0,#a52a9d );
    opacity: 1;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 35%;
    margin-top: -40px;
    width: 30%;
    scale: 90%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    border-radius: 50px;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
}
h1 {
    text-align: center;
    padding-top: 30px;
}
button {
    background-color: orange;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.95;
    border-radius: 50px;
}
button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: royalblue;
}
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    border-radius: 50px;
    border: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.ul {
    vertical-align: top;
    list-style: none;
    text-align: start;
}
.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 575px;
    position: absolute;
    left: 39%;
    top: 20%
}
.tus{
    position: absolute;
    top: 14%;
    left: 45.5%;
    width: 200px;
}
.wrapper .title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form {
    height: 500px;
    padding: 10px 30px 50px 30px;
}
.wrapper form .field {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.wrapper form .field input {
    height: 120%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 2px solid lightgrey;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
.wrapper form .field input:focus ,
    .wrapper form .field input:valid ~ label{
    border-color: #4158d0;
    background: #fff;
}
.wrapper form .field label {
    position: absolute;
    top: 70%;
    left: 20px;
    color: #999999;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label,
.wrapper form .field input:not(:placeholder-shown) ~ label {
    top: 50%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-150%);
}
.wrapper form .content {
    display: flex;
    width: 100%;
    height: 80px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.wrapper form .content input {
    width: 15px;
    height: 10px;
    background: white;
}
.wrapper form .content label {
    margin-top: 20px;
    color: #262626;
}
.wrapper form .content .pass-link {
    color: #4158d0;
    margin-top: 20px;
}
.wrapper form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
}
.wrapper form .field input[type="submit"]:active {
    transform: scale(0.95);
}
.wrapper form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}
.wrapper form .pass-link a,
.wrapper form .signup-link a {
    color: #4158d0;
    text-decoration: none;
}
.wrapper form .pass-link a:hover,
.wrapper form .signup-link a:hover {
    text-decoration: underline;
}
.error-text {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.form-container {
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form-container .form-wrap {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    width: 20%;
    padding: 15px 20px;
    border-radius: 20px;
}
.form-container .form-wrap h1 {
    text-align: center;
    color: white;
    margin: 0 0 20px;
    font-size: 19px;
}
.form-container .form-wrap h2 {
    text-align: center;
    color: white;
    margin: 0 0 20px;
    font-size: 19px;
}
.form-container .form-wrap .form-box {
    margin: 0 0 15px;
}
.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid #353535;
    width: 100%;
}
.form-container .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}
.form-container .form-wrap .form-submit input[type="submit"] {
    padding: 4px 10px;
    border: none;
    background: orange;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
}